body{

   margin: 0;
   padding: 0;
   font-family: Arial, Helvetica, sans-serif;

}

#quiz {

   width: 70%;
   margin: auto;
   border: 1px solid #ccc;

}
.buttons{
   justify-content: center;
   display: grid;
   width: auto;
   grid-template-columns:   80%;
   column-gap: 100px;
   margin: 10px 20px;

}

.btn-animated:hover{

   color: white;
   background-color: blueviolet;
   transition: 0.5s;

}

.btn-animated{

   text-align: center;
   width: 100%;
   height: 50px;
   color: blueviolet;
   background-color: white;
   border: blueviolet solid 1px;

}

.frage{

   color: white;
   background-color: blueviolet;
   text-align: center;
   height: 50px;
   font-weight: bold;
   font-size: 25px;
   padding: auto;
   padding-top: 20px;
   margin-bottom: 20px;

}

#quiz-options{
   text-align: center;
   height: 200px;
   border-bottom: 1px solid #ccc;

}