body {
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
}

.kontakt-container{

  width: 50%;
  margin: auto;
  color: rgb(61, 61, 61);


}
.headline-container{
}

#title {

  font-weight: bolder;
  font-size: 2em;
  margin: 0px 5px;

}

#subtitle{

  margin-left: 5px;
  margin-right: 5px;
  font-style: italic;

}

.flip-container {
    perspective: 1000px;
    margin: 50px auto 50px auto; 
  }
  .flip-container:active .flipper, .flip-container.onclick .flipper {
    transform: rotateY(-180deg);
  }
  .flip-container, .front, .back {
    width: 720px;
    max-width: 100%;
    height: 200px;
    color: #e9dfdf;
    background: transparent;
    
  }
  .flipper {
    transition: 2.0s;
    transform-style: preserve-3d;
    border-style: solid;
    border-color: purple;
    position: relative;
   
    
   
  }
  .front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    border: 5px solid black;
    border-radius: 20px;
  }
  .front {
    z-index: 2;
    transform: rotateY(0deg);
    background-repeat: no-repeat; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: 50% 50% 50% 50%;
  }
  .back {
    transform: rotateY(-180deg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content1 {
    font-size: 70px;
    width: inherit;
    height: 120px;
    margin: auto;
    padding: 10px;
    color: rgb(235, 222, 222);
    font-family:Georgia, 'Times New Roman', Times, serif;
    background: transparent;
    text-align: center;
    
  }
  .content2 {
    font-size: 12px;
    width: 150px;
    height: 120px;
    margin: auto;
    padding: 10px;
    color: rgb(7, 7, 7);
    background: transparent;
    text-align: center;
  }
  .content2 a {
    color: White;
    text-decoration: Underline;
  }
  #softskill {
    background-image: url(Front2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  #softskill-back {
    background-image:url(pexels-soumil-kumar-735911.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    
    opacity: 0.6;
  }
  #projektmanagement {
    background-image:url(Front4.jpg) ;
    background-repeat: no-repeat;
    background-size: cover ;
  }
  #projektmanagement-back {
    background-image: url(pexels-lukas-669615\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover ;
    opacity: 0.3;
  }
  #testing {
    background-image: url(Front6.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  #testing-back {
    background-image: url(pexels-thisisengineering-3862632.png);
    background-repeat: no-repeat;
    opacity: 0.4;
    background-size: cover;
  }
  #bA {
    background-image: url(Front5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    

  }
  #bA-back {
    background-image: url(pexels-fauxels-3183153.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4
  }
  #sE {
    background-image: url(Front.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  #sE-back {
    background-image: url(pexels-luis-gomes-546819.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4;

  }
.kontakt-formular {
  width: 100%;
  margin: 40px 5px 10px 5px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto 80px auto 80px auto 60px;
  column-gap: auto;

}
.grid-beschreibung{

  padding: 5px 0px;
  font-weight:bold;
  font-size: 14px;

}

#grid-i9{

  grid-column: 1 / 3;

}
#grid-i10{

  grid-column: 1 / 3;

}

.input{

  border: 1px solid #ccc;
  width: 90%;
  height: 40px;
  padding: 0px 5px;
  font-size: 18px;

}
.input:focus{
  outline: none !important;
  border-color: blue;
}

#nachricht {

  width: 95%;
  height: 95%;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;

}

#btn{

  margin: 5px;
  margin-bottom: 10px;
  height: 35px;
  width: 100px;
  color: white;
  background-color: rgb(109, 109, 255);
  border: none;

}
