h1 {

}

h2 {

}

.navigation {

}

.container {

}

.flip-container {
    perspective: 1000px;
    margin-top: 50px;
    margin-bottom: 50px; 
  }
  .flip-container:active .flipper, .flip-container.onclick .flipper {
    transform: rotateY(-180deg);
  }
  .flip-container, .front, .back {
    width: 720px;
    max-width: 100%;
    height: 200px;
    color: #FFFFFF;
    background: transparent;
    
  }
  .flipper {
    transition: 2.0s;
    transform-style: preserve-3d;
    position: relative;
   
  }
  .front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    border: 5px solid black;
  }
  .front {
    z-index: 2;
    transform: rotateY(0deg);
    background-repeat: no-repeat; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .back {
    transform: rotateY(-180deg);
    background-image: url(http://www.mobirise-tutorials.com/LawyerM4-Tutorials/images/Spatz-Hinten.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content1 {
    font-size: 70px;
    width: inherit;
    height: 120px;
    margin: auto;
    padding: 10px;
    color: Black;
    background: transparent;
    text-align: center;
    
  }
  .content2 {
    font-size: 12px;
    width: 150px;
    height: 120px;
    margin: 20px;
    padding: 10px;
    color: black;
    background: transparent;
    text-align: center;
  }
  .content2 a {
    color: White;
    text-decoration: Underline;
  }
  #softskill {
    background-image: ;
    background-repeat: no-repeat;
  }
  #softskill-back {
    background-image: ;
    background-repeat: no-repeat;
  }
  #projektmanagement {
    background-image: ;
    background-repeat: no-repeat;
  }
  #projektmanagement-back {
    background-image: ;
    background-repeat: no-repeat;
  }
  #testing {
    background-image: ;
    background-repeat: no-repeat;
  }
  #testing-back {
    background-image: ;
    background-repeat: no-repeat;
  }
  #bA {
    background-image: ;
    background-repeat: no-repeat;
  }
  #bA-back {
    background-image: ;
    background-repeat: no-repeat;
  }
  #sE {
    background-image: ;
    background-repeat: no-repeat;
  }
  #sE-back {
    background-image: ;
    background-repeat: no-repeat;
  }