body{

  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;

}

.spacerQuiz {
  width: 100%;
  height: 550px;
  margin: auto;
  background-color: white;
}

#quiz {
  margin-top: 50px;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  border: 1px solid #ccc;

}

#quiz-option{

  display: grid;
  grid-template-rows: auto auto auto auto;
  text-align: justify;
  row-gap: 30px;
  padding: 20px 50px;
  padding-bottom: 40px;
  border-bottom: 1px solid #ccc;

}

html, body {
  height: 100%;
}

.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  min-width: 40px;
  min-height: 8px;
  font-family: 'Arial', Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  color: white;
  background: #a100ff;
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px #5D3A73;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

.button::before {
content: '';
  border-radius: 1000px;
  min-width: calc(100px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #5D3A73;
  box-shadow: 0 0 60px #5D3A73;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.button:hover, .button:focus {
  color: white;
  transform: translateY(-6px);
}

.button:hover::before, .button:focus::before {
  opacity: 1;
}

.button::after {
  content: '';
  width: 5px; height: 5px;
  border-radius: 100%;
  border: 6px solid #a100ff    ;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 2s infinite;
}

.button:hover::after, .button:focus::after {
  display: none;
}

@keyframes ring {
  0% {
    width: 5px;
    height: 5px;
    opacity: 1;
  }
  100% {
    width: 110px;
    height: 110px;
    opacity: 0;
  }
}

.frage{

  color: white;
  background-color: blueviolet;
  text-align: center;
  align-content: flex-end;
  height: 50px;
  font-weight: bold;
  font-size: 25px;
  padding: auto;
  padding-top: 20px;
  margin-bottom: 20px;

}

.progress-container
{
 width: 100%;
 height: 8px;
 position: sticky;
 top: 0;
 z-index: 1;
}

.progress-bar{
 height: 8px;
 background: rgb(70,0,115);
 background: linear-gradient(90deg, rgba(70,0,115,1) 0%, rgba(117,0,192,1) 50%, rgba(161,0,255,1) 100%);
 width: 0%;

}

/*TEST*/

@import url('https://fonts.googleapis.com/css?family=Raleway:400,200');


.transition { transition: .3s cubic-bezier(.3, 0, 0, 1.3) } 
.card {
   
   background-color: #fff;
   box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
   -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
   -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
   height: 300px;

   margin: auto;
   overflow: hidden;
   position: absolute;
   width: 35%;
}  
.card:hover {
   height: 450px;
   width: 35%;
} 
.card:hover .cta-container {
   display: inline;
   margin-top: 380px;
} 
.card:hover .card_circle {
   background-size: cover;
   border-radius: 0;
   margin-top: -250px;
} 
.card:hover h2 {
   background: 5D3A73;
   color: white;
   margin-top: 70px;
   padding: 5px;
} 
.card:hover h2 small { color: #fff }
.card:hover .answers {
   margin-top: 200px;
   row-gap: 20px;
  } 
.card_circle {
   background-color: #5D3A73;
   background-size: cover;
   height: 400px;
   margin-left: 0;
   margin-top: -270px;
   position: absolute;
   width: 100%;
}  

h10 {
   color: black;
   font-family: 'Raleway', sans-serif;
   font-size: 18px;
   font-weight: bold;
   margin-top: 150px;
   position: absolute;
   text-align: center;
   width: 100%;
   z-index: 9999;
} 


.paragraphQuiz {         /*Muss noch den QuizParagraphen zugeprdnet werden, die wohl vom .js gepusht werden*/
   color: rgba(0,0,0,.6);
   font-family: 'Raleway', sans-serif;
   font-size: 100%;
   font-weight: normal;
   margin-top: 200px;
   position: absolute;
   text-align: center;
   z-index: 9999;
} 

.answers {
  display: grid;
  grid-template-rows: auto auto auto auto;
   color: black;
   font-family: 'Raleway', sans-serif;
   font-size: 17px;
   font-weight: light;
   margin-top: 180px;
   margin-left: 10px;
   position: absolute;
   text-align: justify;
   z-index: 9999;
   row-gap: 7px;

}
.cta-container {
   display: none;
   margin-top: 320px;
   position: absolute;
   text-align: center;
   width: 100%;
   z-index: 9999;
} 
.cta {
   -moz-border-radius: 2px;
   -moz-transition: 0.2s ease-out;
   -ms-transition: 0.2s ease-out;
   -o-transition: 0.2s ease-out;
   -webkit-border-radius: 2px;
   -webkit-transition: 0.2s ease-out;
   background-clip: padding-box;
   border: 2px solid #8A3D82;
   border-radius: 2px;
   color: black;
   display: inline-block;
   font-family: 'Raleway', sans-serif;
   font-size: 17px;
   font-weight: 400;
   height: 36px;
   letter-spacing: 0.5px;
   line-height: 36px;
   margin-bottom: 15px;
   padding: 0 2rem;
   text-decoration: none;
   text-transform: uppercase;
   transition: 0.2s ease-out;
} 
.cta:hover {
   background-color: #8A3D82;
   box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   color: white;
   -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* -------------------------- */
h1 {
  font-size: 70px;
  margin-top:20px;
  margin-bottom:30px;
  text-align: center;
}
.text1 {
    grid-area: text1;
    border: 2px Solid black;
    background: rgb(70,0,115);
    background: linear-gradient(90deg, rgba(70,0,115,1) 0%, rgba(117,0,192,1) 100%);
    padding: 5px;
    color:white;
    font-size: large;
    text-align:center;
}
.picture1 {
    grid-area: picture1;
    border: 2px Solid black;
}
.text2 {
    grid-area: text2;
    border: 2px Solid black;
    background: rgb(70,0,115);
    background: linear-gradient(90deg, rgba(70,0,115,1) 0%, rgba(117,0,192,1) 100%);
    padding: 5px;
    font-size: large;
    color:white;
    text-align:center;
}
.picture2 {
    grid-area: picture2;
    border: 2px Solid black;
}
.grid {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 260px 260px;
    grid-gap: 20px 20px;
    grid-template-areas: 
        "text1 picture1"
        "picture2 text2";
    width: 1000px;
    justify-content: center;
    justify-items: stretch;
    margin: auto;
    margin-top:10px;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
    background-color: #f2f2f2;
    border: 1px solid black;
    font-weight: bold;
  }

  #footerhref {
      display: inline-block;
      width: 60%;
      text-align: center;
      color: black;
      text-decoration: none;
  }
  
  #copyright {
    display: inline-block;
    width: 30%;
    height: 100%;
    text-align: center;
    padding-top: 10px;
  }

  nav{
    background-color:whitesmoke;
    box-shadow: 0 1px 3px 0 #000;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 1;
  }
  img.logo{
    padding: 0px;
    margin-top: -8px;
    margin-left: 40px;
  }
  nav ul{
    float: right;
    margin-right: 40px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 7px 19px;
    border-radius: 3px;
    text-transform: capitalize;
  }
  .listItem.active,.listItem:hover{
    background: #e5e5e5;
    transition: .5s;
  }
  
  .checkbtn{
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  
  .progress-container
  {
    width: 100%;
    height: 8px;
    margin-top: -6px;
    z-index: 1;
  }
  
  .progress-bar{
    height: 8px;
    background: rgb(70,0,115);
    background: linear-gradient(90deg, rgba(70,0,115,1) 0%, rgba(117,0,192,1) 50%, rgba(161,0,255,1) 100%);
    width: 0%;
  
  }

*
{
  margin:0;
  padding-top: 0;
}

.container1{
  margin: auto;
  padding-top: 90px;
  
}

.para{
  text-align:center;
  text-align: justify;
  text-justify:auto;
  width:600px;
  margin:auto;
  margin-top:30px;
  background-color: #fbfbfb;
}

*{
  font-family: Arial, Helvetica, sans-serif;
}

h2{
  text-align:center;
  text-justify:auto;
  width:600px;
  margin:auto;
  margin-top:30px;
  color:#7500c0;
}

#pic{
  width:100%;
  margin-top:30px;
  margin-bottom:30px;
}

.List{
    width: 50%;
    text-align: center;
    justify-content: center;

}
